.grid-stack > .grid-stack-item > .ui-resizable-se {
  right: 5px !important;
  bottom: 5px !important;
}

.grid-stack {
  position: relative;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
  overflow: hidden;
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
}
